<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mybatis에서는 무조건 namespace가 잇엉된다 -->
<mapper namespace="yadoc.student">
	<select id="selectStudent" resultType="map">
		SELECT 학번 hakbun, 이름 irum, 이름영문자 irum_eng FROM "TT01_학생"
	</select>

</mapper>